@font-face
{
	font-family: KidZone;
	src: url(KidZone.ttf);
}

body
{
	height: 100%;
	margin: 0;
	padding: 0;
	transition: 1s;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
div
{
	align-items: center;
	background-color: #56C;
	border-radius: 50%;
	box-shadow: 1px 1px 40px rgba(0,0,0,.5);
	color: white;
	cursor: pointer;
	display: flex;
	font-family: KidZone;
	font-size: 2.2vw;
	height: 15vw;
	justify-content: center;
	margin: 40px;
	text-align: center;
	user-select: none;
	width: 15vw;
}
div:active
{
    transform: translateY(1%);
}
audio {
	background-color: white;
	bottom: 0;
	left: 0;
	margin: 0;
	position: fixed;
	width: 100vw;
	z-index: 1;
}
source {
	margin: 0;
	padding: 0;
}